registry=https://pkgs.dev.azure.com/song88-fci/_packaging/song88packages/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 8/6/2019.
; begin auth token
//pkgs.dev.azure.com/song88-fci/_packaging/song88packages/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI4MzRkODEzNS1iZDhkLTRmNTItOWE0Ny1jMzM4NTllM2Y3ZjciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZWMzYzhiYjAtOTQ4NC00ZWMyLWI0OWQtOTMwZTQ2MGQ1ZTQ0Iiwic2lkIjoiNjdiYTQ2M2UtMzBlMS00M2FmLTkzODQtMWJhMjk0NWMyYWVhIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmU1NDExZjQ5LTNmNDItNDdkMC05MGYzLWQ0MzMzMDE0OTM0MiIsIm5iZiI6MTU1NzI4MjUxOCwiZXhwIjoxNTY1MDU5MTE4fQ.1eEVE9XM0KfgD1DM6azAf5GGDzdyQ9Op_xpxlZGGwRNp2sWVpIrKTq9WVPsVFRVg8XRTVMJ9ghKXlnYyfCpt4TbqgFjSYFZp4QOiytM90xlkm4EmJPRyFJa1_1LT1NsfVW5B5KEjx-pk2tcRIXxm2znrsIZMQTYMrvc6QyuxJKiKlis_hrSPvzNytRoIruaBAoBUV69sEzeTln35VoSarPbnDWD8m2dIpMsMazAWPcCnxZZU-hSVs95G5O_oHbYZ7gQUnKbJvjN7cBu5ezkut0AlFJ4tVaR3Z3Y68vFsaHCAggS-B0ht2dqtr9pgiXLhj_JdGrh5PTV-XgMwTvkBDA
//pkgs.dev.azure.com/song88-fci/_packaging/song88packages/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI4MzRkODEzNS1iZDhkLTRmNTItOWE0Ny1jMzM4NTllM2Y3ZjciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZWMzYzhiYjAtOTQ4NC00ZWMyLWI0OWQtOTMwZTQ2MGQ1ZTQ0Iiwic2lkIjoiNjdiYTQ2M2UtMzBlMS00M2FmLTkzODQtMWJhMjk0NWMyYWVhIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmU1NDExZjQ5LTNmNDItNDdkMC05MGYzLWQ0MzMzMDE0OTM0MiIsIm5iZiI6MTU1NzI4MjUxOCwiZXhwIjoxNTY1MDU5MTE4fQ.1eEVE9XM0KfgD1DM6azAf5GGDzdyQ9Op_xpxlZGGwRNp2sWVpIrKTq9WVPsVFRVg8XRTVMJ9ghKXlnYyfCpt4TbqgFjSYFZp4QOiytM90xlkm4EmJPRyFJa1_1LT1NsfVW5B5KEjx-pk2tcRIXxm2znrsIZMQTYMrvc6QyuxJKiKlis_hrSPvzNytRoIruaBAoBUV69sEzeTln35VoSarPbnDWD8m2dIpMsMazAWPcCnxZZU-hSVs95G5O_oHbYZ7gQUnKbJvjN7cBu5ezkut0AlFJ4tVaR3Z3Y68vFsaHCAggS-B0ht2dqtr9pgiXLhj_JdGrh5PTV-XgMwTvkBDA
; end auth token