registry=https://pkgs.dev.azure.com/song88-fci/_packaging/song88packages/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 11/4/2019.
; begin auth token
//pkgs.dev.azure.com/song88-fci/_packaging/song88packages/npm/registry/:username=song88packages
//pkgs.dev.azure.com/song88-fci/_packaging/song88packages/npm/registry/:_password=ZnRnaHZhZW1hcm8zZWVrbmxoaGdqenMzbHVycGo3c2ZmcGJlNTV0bHY3M3NnbXVieTZycQ==
//pkgs.dev.azure.com/song88-fci/_packaging/song88packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/song88-fci/_packaging/song88packages/npm/:username=song88packages
//pkgs.dev.azure.com/song88-fci/_packaging/song88packages/npm/:_password=ZnRnaHZhZW1hcm8zZWVrbmxoaGdqenMzbHVycGo3c2ZmcGJlNTV0bHY3M3NnbXVieTZycQ==
//pkgs.dev.azure.com/song88-fci/_packaging/song88packages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token